/* collage section  */

.collage{
    background-color: var(--secondary);
    position: relative;
    border-radius: 30px 30px 0px 0px;
    transform: translateY(-50%);
}

.collage::before{
    content: '';
    position: absolute;
    right: 0%;
    top: 0;
    background-image: url(../images/icons/Subtraction\ 9.svg) ;
    width: 100%;
    height: 100%;
    max-width: 613px;
    min-height: 1060px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 2;
}

.collage-inner{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.collage-img img{
    width: 100%;
    height: 100%;
}

.collage-img{
    max-width: 200px;
    max-height: 200px;
}

.collage-text{
   font-size:55px ;
   font-weight: 100;
   line-height: 55px;
   letter-spacing:-1.1px ;
   margin-top:30px ;
   color: var(--primary);
}

.collage-top-para{
    color: var(--primary);
    font-size:16px ;
    font-weight:500 ;
    line-height: 28px;
    margin-top: 20px;
    max-width: 920px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.collage-bottom-para{
    color: var(--primary);
    font-size:16px ;
    font-weight:500 ;
    line-height: 28px;
    margin-top: 20px;
    max-width: 920px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.exemplary-img img{
    width: 78px;
    height: 72px;
}

.exemplary-img{
    background-color: var(--fifth);
    padding: 23px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.Applauded-img img{
    width: 78px;
    height: 72px;
}

.Applauded-img{
    background-color: var(--forth);
    padding: 23px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.academics-img img{
    width: 78px;
    height: 72px;
}

.academics-img{
    background-color: var(--primary);
    padding: 23px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.collage-icon{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 70px;
}

.explary-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.exemplary-head{
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.46px;
    line-height: 30px;
    color: var(--primary);
    max-width: 192px;
    text-align: center;
}

.exemplary-para{
    font-size: 23px;
    font-weight: 100;
    letter-spacing: -0.46px;
    line-height: 30px;
    color: var(--primary);
}

.exemplary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Applauded{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.academics{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* report section  */

.report{
  background-color: var(--primary);
  margin-top: -300px;
}

.report-inner{
    padding-block:100px;
}

.report-text{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 55px;
    color: var(--secondary);
}

.download-faq{
    background-color:rgba(255, 255, 255, 0.124);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 15px;
    margin-top: 25px;
}

.download-text{
    color: var(--secondary);
    font-size: 25px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.25px;
}

.download-a img{
    width: 100%;
    height: 100%;
}