.academic-left-section{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 30px;
    max-height: 600px;
    width: 100%;
    position: sticky;
    top: 130px;
    max-width: 300px;
    box-shadow: 0px 3px 36px #00000017;
    border-radius: 15px;
    align-items: baseline;
    z-index: 2;
}

.academic-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    gap: 50px;
}

.sticky_left_anchor{
    color: var(--forth);
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 34px;
    font-weight: 600;
}

.academic-left-anchor{
    color: var(--secondary);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    background-color: var(--forth);
    border-radius: 15px;
    margin-top: 10px;
    font-weight: 600;
}

.academic-inner{
    display: flex;
    justify-content: space-between;
}

.tabs_content{
    scroll-margin-top: 150px;
}

.edi-text{
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 70px;
    color: var(--primary);
    font-weight: 300;
}

.edi-para{
    font-size: 16px;
    line-height: 28px;
    color: var(--primary);
    max-width: 840px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.edi-sec-para{
    font-size: 16px;
    line-height: 28px;
    color: var(--primary);
    max-width: 840px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.academic{
    margin-top: 50px;
    margin-bottom: 100px;
}

.academic-text{
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 70px;
    color: var(--primary);
}

.sticky_left_anchor.active-link {
    border-left: 3px solid var(--primary);
    padding-left: 10px; 
    color: var(--primary);
    font-size: 18px;
    font-size: 600;
}

.academic-para{
    font-size: 16px;
    line-height: 28px;
    color: var(--primary);
    max-width: 840px;
    margin-top: 5px;
}

.academic-right-section {
    width: calc(100% - 300px);
}

/* slider section  */

.swipers-academic-arrows {
    position: absolute;
    display: flex;
    left: 75%;
    bottom: -30%;
    transform: translateX(-75%);
    transform: translateY(30%);
    align-items: center;
    justify-content: center;    
    gap: 10px;
    z-index: 10;
    padding: 10px;
}

.swipers-academic-arrow-a {
    background-color: var(--forth);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.swipers-academic-arrow-a.disabled {
    opacity: 0.8;
    pointer-events: none;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative; 
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.lancaster-text{
    font-size: 50px;
    font-weight:300;
    line-height: 70px;
    letter-spacing: -1px;
    color: var(--primary);
}

.lancaster{
    margin-top: 50px;
}

.lancaster-a{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
    padding: 20px 40px;
    border-radius: 15px;
    margin-top: 20px;
}

.lancaster-a:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.faqs_section{
    margin-top: 50px;
    border-bottom: 1px solid #70707048;
    padding-bottom: 30px;
}

.accordion__item {
    background-color:var(--secondary);
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 26px #00000019;
    border-radius: 15px;
}

.accordion__btn {
    width: 100%;
    background: transparent;
    color: var(--theme-white);
    border: none;
    text-align: left;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.accordion__btn span{
    font-size: 22px;
    color: var(--primary);
    line-height: 34px;
    letter-spacing: -0.22px;
    font-weight: 600;
}

.accordion__icon {
    transition: transform 0.3s ease-in-out;
    background-color: var(--forth);
    color: var(--primary);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.accordion__item--active .accordion__icon {
    transform: rotate(135deg);
}
.accordion__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    padding: 0 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-white);
    display: flex;
    align-items: center;
    gap: 30px;
}

.accordion__content-img img{
    width: 100%;
    height: 100%;
}

.accordion__item--active .accordion__content {
    max-height: 600px;
    opacity: 1;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-white);
}

.accordion-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 365px;
    color: var(--primary);
}

.accordion-a{
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary);
    background-color: var(--forth);
    padding: 20px 40px;
    border: 2px solid var(--forth);
    border-radius: 15px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.accordion-a:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.department{
    margin-top: 100px;
    border-bottom: 1px solid #70707048;
    padding-bottom: 30px;
}

.department-text{
    font-size:35px ;
    font-weight:500 ;
    line-height: 70px;
    letter-spacing:-0.7px ;
    color: var(--primary);
}

.department-heading-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swipers_text{
    color: var(--secondary);
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -1.6px;
    line-height: 80px;
    max-width: 656px;
}
.swipers_text strong{
 color: var(--primary);
 font-weight: 600;
}

.department-arrows{
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 14px;
}

.department-arrow-a {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 5px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}


.swiper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

 .swiper-slide {
    text-align: left;
    font-size: 18px;
    background-color: var(--theme-yellow);
    position: relative;
    cursor: pointer;
}

 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.department-arrow-a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.swiper_cards_image{
    position: relative;
}

.department-heading{
   font-size: 26px;
   letter-spacing: -0.52px;
   line-height: 70px;
   font-weight: 400;
   color: var(--primary);
}

.ARROW{
    display: none;
}

.support{
    margin-top: 50px;
    border-bottom: 1px solid #70707048;
    padding-bottom: 30px;
}

.support-heading{
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 70px;
    color: var(--primary);
    font-weight: 300;
}

.support-a{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--primary);
    background-color: var(--forth);
    border: 2px solid var(--forth);
    padding: 20px 40px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.support-a:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.eal{
    margin-top: 50px;
    border-bottom: 1px solid #70707048;
    padding-bottom: 30px;
}

.eal-heading{
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 70px;
    color: var(--primary);
    font-weight: 600;
}

.four-column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
}

.four-column-img img{
    width: 100%;
    height: 100%;
}

.four-column-img{
    position: relative;
}

.four-column-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-column-text-music{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-column-text-result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-column-text-wrekin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four-column-head{
    font-size: 35px;
    letter-spacing: -0.7px;
    line-height: 70px;
    font-weight: 600;
    color: var(--secondary);
}

.four-column-heading{
    font-size: 27px;
    letter-spacing: -0.7px;
    line-height: 70px;
    font-weight: 600;
    color: var(--secondary);
}

.four-column-a{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary);
  background-color: var(--forth);
  border: 2px solid var(--forth);
  transition: all 0.3s ease;
  margin-top: 5px;
  border-radius: 15px;
  padding:15px 30px;
  white-space: nowrap;
}

.four-column-a:hover{
    background-color: transparent;
    color: var(--forth);
    border: 2px solid var(--forth);
}