.admission-headings{
        position: absolute;
        top: 20%;
        transform: translateY(-25%);
        letter-spacing:-1.78px ;
        line-height: 80px;
        font-size:89px ;
        font-weight:400px ;
        color: var(--secondary);
}