@media screen and (max-width:1440px){
    .boarding-left-img::before {
        right: -6%;
        top: 6%;
    }
    .aboutus-right-section::before{
        right: -6%;
        top: 6%;
    }
    .character-right-section::before{
        right: -6%;
        top: 6%;
    }
}
@media screen and (max-width:1330px){
    .hero-section-left{
        display: none;
    } 
    .boarding-left-img::before {
        right: -4%;
        top: 4%;
    }
    .aboutus-right-section::before{
        right: -4%;
        top: 4%;
    }
    .character-right-section::before{
        right: -4%;
        top: 4%;
    }
}


@media screen and (max-width:1024px){
    .menu-content{
        flex-direction: column;
    }
    .menu-wrapper{
        justify-content: flex-start;
        border-right: none;
        border-bottom: 1px solid var(--secondary);
        padding-bottom: 40px;
    }
    .menu-list{
        padding-left: 0;
        padding-right: 0;
    }
    .menulist-a{
        font-size: 68px;
        line-height: 75px;
    }
    .useful-info{
        justify-content: flex-start;
        margin-top: 30px;
    }
    .submenu-list{
        margin-top: 100px;
    }
    .close-btn{
        top: 37px;
    }
    .back-btn{
        display: none;
    }
    .slider-section{
        padding-bottom: 147px;
    }
    .pageslider-link{
        display: none;
    }
    .howto{
      margin-top: -300px;
    }
    .boarding-left-img::before {
        right: -4%;
        top: 4%;
    }
    .aboutus-right-section::before{
        right: -4%;
        top: 4%;
    }
    .character-right-section::before{
        right: -4%;
        top: 4%;
    }
    .request-text {
        font-size: 55px;
    }
    .four-column{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:991px){
    .form-list-one{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 768px) {
    .menu-wrapper {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .menu-list {
        width: 100%;
        text-align: left;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .menulist-a{
        font-size: 41px;
    }

    .submenu-list {
        position: absolute;
        top: 0;
        left: 0;
        /* width: 100%; */
        height: 560px;   
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
        margin-top: 0;
        gap: 25px;
    }

    .submenu-list.active {
        opacity: 1;
        visibility: visible;
    }

    .menu-list.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .back-btn {
        display: inline-block;
    }
    .hero-section-left{
        display: none;
    }
    .hero-section-right{
        flex-direction: column;
        align-items: center;
    }
    .hero-section-right-text{
    font-size: 62px;
    letter-spacing: -1.38px;
    line-height: 73px;
    max-width: 310px;
    text-align: center;
    }
    .hero-section-right-box-heading{    
        font-size: 31px;
        max-width: 218px;
        letter-spacing: -0.62px;
        line-height: 36px;
    }
    .hero-section-right-box-para{
        max-width: 248px;
    }
    .hero-section-right-box{
        transform: translateY(40%);
    }
    .hero-inner{
        justify-content: center;
        padding-top: 140px;
    }
    .hero-section-bg-img{
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: -347px;
    }
    .text-section{
        margin-top: 200px;
    }
    .image-section{
        margin-top: 0;
    }
    .image-card-section-para{
        display: none;
    }
    .card-section-para{
        display: block;
    }
    .image-card-section-heading{
        font-size: 34px;
    }
    .image-card-section-inner{
        margin-left: 0;
        padding-top: 150px;
    }
    .image-card-section-img{
        top: 0%;
        left: 50%;
        max-width: 154px;
        max-height: 154px;
    }
    .image-card-section-text{
        padding-top: 161px;
        padding-left: 30px;
    }
    .background-fixed-inner{
        flex-direction: column;
    }
    .text-section-inner{
        margin-top: 250px;
    }
    .slider-section{
        padding-bottom: 270px;
    }
    .center-footer{
        flex-direction: column;
    }
    .center-footer-center ul{
        align-items: baseline;
        grid-template-columns: repeat(2,1fr);
    }
    .submit-btn {
        padding: 15px 26px;
        left: 90%;
    }
    #email-input{
        max-width: 100%;
    }
    .admission-card-inner{
        grid-template-columns: repeat(2,1fr);
    }
    
    .welcome-inner{
        padding-top: 50px;
    }
    .boarding-left-img::before {
        right: -6%;
        top: 6%;
    }
    .aboutus-right-section::before{
        right: -6%;
        top: 6%;
    }
    .character-right-section::before
    .request-inner:before{
        clip-path: polygon(0 0, 100% 0, 100% 64%, 0 65%);
        width: 100%;
        border-top-right-radius: 25px;
    }
    .admission-headings span{
        display: none;
    }
    .column-right-text{
        font-size: 45px;
        line-height: 78px;
        letter-spacing: -0.9px;
    }
    .column-left-text{
        font-size: 45px;
        line-height: 78px;
        letter-spacing: -0.9px;
    }
    .academic-left-section{
        flex-direction: row;
        overflow-x: auto;
        max-height: 100%;
        max-width: none;
        gap: 20px;
        padding: 0px;
        align-items: center;
        padding-inline: 20px;
        width: calc(100% + 40px);
        border-radius: 0;
        position: static;
    }
    .sticky_left_anchor{
        white-space: nowrap;
    }
    .academic-inner{
        flex-direction: column;
        align-items: center;    
    }
    .swipers-academic-arrows{
        display: none;
    }
    .academic-right-section{
        width: calc(100% - 0px);
    }
}

@media screen and (max-width:610px){
    .sixth-form-inner{
        flex-direction: column;
    }
    .boarding-left-img::before {
        right: -4%;
        top: 4%;
    }
    .aboutus-right-section::before{
        right: -4%;
        top: 4%;
    }
    .character-right-section::before
    .admission-headings{
        font-size: 84px;
    }
}

@media screen and (max-width:575px){
    .serch-icon-img{
        display: none;
    }
    .logo-img img{
        width: 188px;
        height: 40px;
    }
    .menu-text{
        display: none;
    }
    .hero-section-right-box {
        transform: translateY(15%);
    }
    .text-section{
        margin-top: 300px;
    }
    .text-section-head{
        font-size: 61px;
        letter-spacing: -1.4px;
        line-height: 105px;
    }
    .text-section-heading{
        font-size: 61px;
        text-align: left;
        letter-spacing: -1.4px;
        line-height: 105px;
    }
    .text-section-small-head{
        font-size: 38px;
        letter-spacing: -0.74px;
        line-height: 35px;
    }
    .text-section-right-para{
        display: none;
    }
    .text-section-left-paras{
        margin-bottom: 0;
        line-height: 28px;
        max-width: 302px;
    }
    .text-section::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("../images/section/Subtraction\ 7.png");
        width: 100%;
        height: 100%;
        max-width: 316px;
        max-height:699px ;
        background-repeat: no-repeat;
        object-fit: contain;
    }
    .image-card-section-text{
        width: calc(100% + 40px);
        margin-left: -20px;
    }
    .card-section-inner{
        flex-direction: column;
    }
    .card-section {
        background: #F8F8F8;
    }
    .card-section-head{
        font-size: 43px;
        letter-spacing: -0.86px;
        line-height: 41px;
    }
    .card-section-paras{
        line-height: 28px;
        max-width: 302px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .background-fixed-para{
        font-size: 43px;
        letter-spacing: -0.86px;
        line-height: 42px;
    }
    .sixth-left-section-one{
        max-width: 302px;
        max-height: 367px;
    }
    .sixth-left-section-two{
        max-width: 302px;
        max-height: 367px;
    }
    .sixth-right-section-one{
        aspect-ratio: 1 / 0.9;
        margin-top: 20px;
    }
    .sixth-right-section{
        flex-direction: column-reverse;
    }
    .sixth-right-section-two{
        max-width: 302px;
        max-height: 367px;
    }
    .sixth-left-section-head{
        max-width: 113px;
        font-size: 75px;
        letter-spacing:-1.5px;
        line-height: 138px;
    }
    .sixth-left-section-para{
        max-width: 216px;
        line-height: 28px;
    }
    .sixth-right-section-head{
        letter-spacing: -0.9px;
        line-height: normal;
        max-width: 227px;
        font-size: 50px;
    }
    .ARROW{
        display: flex;
        align-items: center;
        margin-top: 30px;
        justify-content: center;
    }
    .ARROWS{
        display: none;
    }
    .swipers_text {
        color: var(--secondary);
        font-size: 76px;
        font-weight: 500;
        letter-spacing: -1.52px;
        line-height: 74px;
        max-width: 400px;
    }
    .joinus-heading{
        color: var(--forth);
        font-size: 55px;
        letter-spacing: -1.1px;
        line-height: 60px;
        max-width: 200px;
    }
    .joinus-para{
        max-width: 302px;
        font-size: 16px;

    }
    .slider-section{
        padding-bottom: 147px;
    }
    .visit-inner{
        flex-direction: column;
        align-items: baseline;
    }
    .visit-text{
        max-width: 300px;
        font-size: 40px;
    }
    .top-footer{
        flex-direction: column;
        align-items: baseline;
    }
    .center-footer-left-text{
        font-size: 17px;
        max-width: 250px;
    }
    .submit-btn {
        left: 86%;
    }
    .swiper_card_inner {
        margin-top: -83px;
        padding-top: 135px;
    }
    .bottom-footer-top{
        display: none;
    }
    .social-icons{
        padding-bottom: 50px;
    }
    .admission-card-inner{
        grid-template-columns: repeat(1,1fr);
    }
    .admission-head{
        font-size: 51px;
        letter-spacing: -1.02px;
    }
    .admission-text{
        margin-top: 10px;
        font-size: 21px;
        font-weight: 100;
        letter-spacing: -0.42px;
        line-height: 37px;
    }
    .admission-heading{
        top: 20%;
        transform: translateY(-20%);
        letter-spacing:-0.8px ;
        line-height: 80px;
        font-size:40px ;
    }
    .admission-headings{
        top: 20%;
        transform: translateY(-20%);
        letter-spacing:-0.8px ;
        line-height: 80px;
        font-size:40px ;
    }
    .welcomes-para{
        display: none;
    }

    .welcome-right-para{
        display: none;
    }
    .welcome-left-para{
        color: var(--primary);
        font-size: 15px;
        max-width: 301px;
        -webkit-line-clamp: 7;
    }
    .welcome-heading{
        font-size: 48px;
        letter-spacing: -0.96px;
        line-height: 60px;
    }
    .welcome{
        transform: translateY(-110%);
    }
    .howto-inner{
        flex-direction: column;
    }
    .help-texts{
        flex-direction: column;
        align-items: baseline;
    }
    .help-text{
        max-width: 250px;
        font-size: 40px;
        letter-spacing: -0.8px;
        line-height: 40px;
    }
    .money-right-para{
        display: none;
    }
    .money-left-p{
        max-width: 300px;
    }
    .money-head{
        color: var(--forth);
        letter-spacing: -1.1px;
        line-height: 60px;
    }
    .help-inner {
        padding: 40px;
    }
    .transport-inner{
        flex-direction: column;
        gap: 100px;
    }
    .trasport-anchor{
        flex-direction: column;
        align-items: baseline;
    }
    .boarding-inner{
        gap: 100px;
        flex-direction: column;
    }
    .aboutus-inner{
        gap: 100px;
        flex-direction: column-reverse;
    }
    .boardings-para{
        display: none;
    }
    .dresscode-details{
       display: flex;
       overflow: auto;
    }
    .dresscode-detail{
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
    }
    .dresscode-a{
        width: 56px;
    }
    .recently-graduated-inner{
        flex-direction: column-reverse;
    }
    .recently-graduated-img{
        position: relative;
        z-index: 0;
    }
    .recently-graduated-head{
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        max-width: 585px;
        color: var(--secondary);
    }
    .dresscode-paras{
        max-width: 240px;
        line-height: 24px;
    }
    .dresscode-para{
        text-align: center;
    }
    .request-text{
        max-width: 235px;
        line-height: 47px;
        letter-spacing: -0.88px;
        font-size: 44px;
    }
    .request-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .want-head{
        max-width: 260px;
        font-size: 45px;
        letter-spacing: -0.9px;
        line-height: 43px;
        text-align: center;
    }
    .want-para{
       font-size: 15px;
       max-width: 300px;
       display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 28px;
    }
    .admission-entry-inner{
        flex-direction: column;
    }
    .admission-entry-para{
        font-size: 40px;
        line-height: 36px;
        letter-spacing: -0.8px;
        max-width: 300px;
        text-align: center;
    }
    .welcomes {
        transform: translateY(-99%);
    }
    .column-inner{
        flex-direction: column;
    }
    .exchange-text{
        flex-direction: column;
        align-items: baseline;
    }
    .exchange-texts-para{
        display: inline;
    }
    .exchange-text-para{
        display: none;
    }
    .exchange-inner {
        padding: 40px;
    }
    .employability-inner{
        flex-direction: column;
    }
    .employability-right-text{
        font-size: 42px;
        letter-spacing: -0.84px;
        line-height: 50px;
        max-width: 285px;
    }
    .character-inner{
        flex-direction: column-reverse;
    }
    .international-inner{
        flex-direction: column;
    }
    .international-right-text{
        font-size: 42px;
        letter-spacing: -0.84px;
        line-height: 50px;
    }
    .swipers-academic-arrows{
        display: none;
    }
    .edi-text{
        font-size: 48px;
        letter-spacing: -0.96px;
        line-height: 49px;
    }
    .edi-para{
        font-size: 15px;
        line-height: 28px;
        max-width: 300px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 28px;
    }
    .edi-sec-para{
        display: none;
    }
    .academic-para{
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 28px;
        font-size: 15px;
        max-width: 300px;   
    }
    .accordion-a{
        flex-shrink: 0;
    }
    .accordion__content{
        flex-direction: column;
    }
    .accordion__btn span{
        font-size: 20px;
        letter-spacing: -0.2px;
        line-height: 34px;
    }
    .department-arrows{
        display: none;
    }
    .department-text{
        font-size: 42px;
        letter-spacing: -0.84px;
        line-height: 50px;
    }
    .department-heading {
        font-size: 22px;
        letter-spacing: -0.52px;
        line-height: 34px;
        font-weight: 400;
        color: var(--primary);
        margin-top: 10px;
    }
    .swipers_arrow{
     justify-content: baseline;
    }
    .ARROW{
        align-items: baseline;
        justify-content: flex-start;
    }
    .four-column-head{
        font-size: 38px;
        line-height: 43px;
        letter-spacing: -0.76px;
    }
    .four-column-heading{
        font-size: 38px;
        line-height: 43px;
        letter-spacing: -0.76px;
    }
    .academic-text{
        font-size: 42px;
        line-height: 49px;
        letter-spacing: -0.84px;
    }
    .lancaster-text{
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -0.84px;
    }
    .support-heading{
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -0.84px;
    }
    .eal-heading{
        font-size: 42px;
        line-height: 50px;
        letter-spacing: -0.84px; 
    }
    .art-inner{
        flex-direction: column;
    }
    .art-head{
        font-size: 40px;
        letter-spacing: -0.98px;
        line-height: 43px;
    }
 }


 @media screen and (max-width:520px) {
    .background-fixed-para {
        font-size: 29px;
    }
 }

 @media screen and (max-width: 425px) {
    .submit-btn {
        left: 81%;
    }
}
 
 @media screen and (max-width: 320px) {
    .submit-btn {
        left: 78%;
    }
    .boarding-left-img::before {
        right: -7%;
        top: 7%;
    }
    .aboutus-right-section::before{
        right: -7%;
        top: 7%;
    }
    .character-right-section::before{
        right: -7%;
        top: 7%;
    }
}