.welcome-a{
    background-color: var(--forth);
    color: var(--primary);
    font-size:14px ;
    font-weight: 600;
    border: 2px solid var(--forth);
    line-height:24px ;
    padding:20px 40px ;
    margin-top: 20px;
    border-radius:15px ;
    transition: all 0.3s ease;
}

.wel{
    transform: translateY(-81%);
}

.welcome-a:hover{
    background-color: transparent;
    border: 2px solid var(--primary);
}

/* about us section */

.aboutus{
    background-color: #F0F4F3;
    margin-top: -450px;
}

.aboutus-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 100px;
}

.aboutus-head{
    color: var(--forth);
    font-size:50px ;
    font-weight:500 ;
    line-height:58px ;
    letter-spacing:-1px ;
}

.aboutus-head strong{
    color: var(--primary);
}

.aboutus-para{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 555px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary);
    margin-top: 20px;
}

.aboutus-a{
    color: var(--primary);
    background-color: var(--forth);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    border: 2px solid var(--forth);
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .aboutus-a:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
  }

  .aboutus-right-section{
    position: relative;
    z-index: 1;
}

.aboutus-right-section::before{
    content: '';
    position: absolute;
    right: -10%;
    top: 10%;
    background-color:var(--forth) ;
    width: 100%;
    height: 100%;
    max-width: 492px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    border-radius: 15px;
}

.aboutus-right-section img{
    width: 100%;
    height: 100%;
 }

 /* 3 column section */
 
 .column-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
 }

 .column-left-img img{
     width: 100%;
     height: 100%;
 }

 .column-right-img img{
    width: 100%;
     height: 100%;
 }

 .column-left-img{
    position: relative;
 }

 .column-right-img{
    position: relative;
 }

 .column-left-text{
    font-size: 65px;
    font-weight: 600;
    color: var(--secondary);
    letter-spacing: -1.3px;
    line-height: 113px;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    transform: translateY(100%);
    bottom:20%;
    left: 20%;
    transition: all 0.3s ease;
    opacity: 0;
}

.column-left-img:hover .column-left-text{
    transform: translateY(0%);
    z-index: 2;
    opacity: 1;
}

.column-right-text{
    font-size: 65px;
    font-weight: 600;
    color: var(--secondary);
    letter-spacing: -1.3px;
    line-height: 113px;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    transform: translateY(100%);
    bottom:20%;
    left: 20%;
    transition: all 0.3s ease;
    opacity: 0;
}

.column-right-img:hover .column-right-text{
    transform: translateY(0%);
    z-index: 2;
    opacity: 1;
}

.column-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* exchange section  */

.exchange{
    margin-top: 10px;
    transform: translateY(50%);
}

.exchange-inner{
    background-color: var(--primary);
    padding: 91px;
    border-radius: 15px;
    position: relative;
}

.exchange-inner::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../images/section/Intersection\ 3.svg");
    width: 100%;
    height: 100%;
    max-width: 492px;
    min-height: 231px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.exchange-text-para{
    font-size: 45px;
    font-weight: 100;
    letter-spacing:-0.9px ;
    line-height:50px ;
    color:var(--secondary) ;
    max-width: 500px;
}

.exchange-text-a{
    color: var(--primary);
    background-color: var(--forth);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    border: 2px solid var(--forth);
    transition: all 0.3s ease;
    font-weight: 600;
    position: relative;
    white-space: nowrap;
}

.exchange-text-a:hover{
    border: 2px solid var(--forth);
    background-color: transparent;
    color: var(--forth);
}

.exchange-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.exchange-texts-para{
    max-width: 250px;
    font-size: 35px;
    letter-spacing: -0.8px;
    line-height: 40px;
    display: none;
    color: var(--secondary);
}

/* employability section  */

.employability{
    background-color: #F0F4F3;
}

.employability-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 250px;
    padding-bottom: 150px;
    gap: 100px;
}

.employability-right-text{
    color: var(--forth);
    font-size:50px ;
    font-weight:500 ;
    line-height:58px ;
    letter-spacing:-1px ;
    max-width: 340px;
}

.employability-right-text strong{
    color: var(--primary);
}

.employability-right-para{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 555px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary);
    margin-top: 20px;
}

.employability-a{
    color: var(--primary);
    background-color: var(--forth);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    border: 2px solid var(--forth);
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .employability-a:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
  }

  .employability-left-section{
    position: relative;
    z-index: 1;
}

.employability-left-section::before{
    content: '';
    position: absolute;
    left: -10%;
    top: 10%;
    background-color:var(--forth) ;
    width: 100%;
    height: 100%;
    max-width: 492px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    border-radius: 15px;
}

.employability-left-section img{
    width: 100%;
    height: 100%;
 }

 /* character section */

 .character{
    background-color: #F0F4F3;
}

.character-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
    gap: 100px;
}

.character-left-text{
    color: var(--forth);
    font-size:50px ;
    font-weight:500 ;
    line-height:58px ;
    letter-spacing:-1px ;
    max-width: 460px;
}

.character-left-text strong{
    color: var(--primary);
}

.character-left-para{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 555px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary);
    margin-top: 20px;
}

.character-a{
    color: var(--primary);
    background-color: var(--forth);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    border: 2px solid var(--forth);
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .character-a:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
  }

  .character-right-section{
    position: relative;
    z-index: 1;
}

.character-right-section::before{
    content: '';
    position: absolute;
    right: -10%;
    top: 10%;
    background-color:var(--forth) ;
    width: 100%;
    height: 100%;
    max-width: 492px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    border-radius: 15px;
}

.character-right-section img{
    width: 100%;
    height: 100%;
 }

 /* international section  */

 .international{
    background-color: #F0F4F3;
}

.international-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
    gap: 100px;
}

.international-right-text{
    color: var(--forth);
    font-size:50px ;
    font-weight:500 ;
    line-height:58px ;
    letter-spacing:-1px ;
    max-width: 340px;
}

.international-right-text strong{
    color: var(--primary);
}

.international-right-para{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 555px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary);
    margin-top: 20px;
}

.international-a{
    color: var(--primary);
    background-color: var(--forth);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    border: 2px solid var(--forth);
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .international-a:hover{
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
  }

  .international-left-section{
    position: relative;
    z-index: 1;
}

.international-left-section::before{
    content: '';
    position: absolute;
    left: -10%;
    top: 10%;
    background-color:var(--forth) ;
    width: 100%;
    height: 100%;
    max-width: 492px;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    border-radius: 15px;
}

.international-left-section img{
    width: 100%;
    height: 100%;
 }

 /* art section  */

 /* .art{
    background-color: #F0F4F3;
 }

 .art-left-img{
     position: relative;
 }

 .art-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }

 .art-head{
    font-size: 80px;
    color: var(--secondary);
 }

 .art-left-img img{
    width: 100%;
    height: 100%;
 }

 .art-inner{
    display: flex;
    gap: 20px;
    align-items: center;
 }

 .art-a{
    color: var(--primary);
    background-color: var(--forth);
    font-size: 14px;
    line-height: 24px;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid var(--forth);
    font-weight: 600;
 }

 .art-a:hover{
    border: 2px solid var(--forth);
    color: var(--forth);
    background-color: transparent;
 }

 .art-right-img{
    position: relative;
 }

 .art-right-img img{
    width: 100%;
    height: 100%;
 }

 .art-texts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 } */